{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <br>
  <div class="alert alert-success alert-dismissible">
    {% for message in messages %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> {{ message }}
    {% endfor %}
    </div>

  {% endif %}
{% endwith %}
<br>

<h1>Account for: {{logged_in}}</h1>

<div class="container">

<ul class="nav nav-pills justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" role="tab" data-toggle="tab" href="#overview">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" role="tab" data-toggle="tab" href="#current">Current</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" role="tab" data-toggle="tab" href="#add">Add</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" id="overview" class="tab-pane fade show active">
    <h3>Profile</h3>
    <a  href="/logout">Log out</a>

  </div>
    <div role="tabpanel" id="current" class="tab-pane fade">

              {% if found %}
              <div class="container mt-3">
                  <div class="row">
                      <div class="card-deck">
                       {% for item in found %}

                           <a href="{{ url_for('listing', item=item) }}" >
                             <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                               <img class="card-img-top" src="{{ url_for('static', filename='images/' + item + '.png' ) }}" alt="{{item}}">
                              
                            </div>
                          </a>

                          {% endfor %}
                      </div>
                    </div>
                 </div>

              {% else %}
               <h1 class="text-muted mx-auto">Nothing found!</h1>
              {% endif %}



    </div>
        <div role="tabpanel" id="add" class="tab-pane fade">
            <br>
                <form action="" method="post" name="form" enctype="multipart/form-data">
                  <div class="form-group row">
                    <label for="title" class="col-4 col-form-label">Title</label>
                    <div class="col-8">
                      <input id="title" name="title" type="text" required="required" class="form-control here">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="price" class="col-4 col-form-label">Price</label>
                    <div class="col-8">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-gbp"></i>
                        </div>
                        <input id="price" name="price" type="text" required="required" class="form-control here">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="condition" class="col-4 col-form-label">Condition</label>
                    <div class="col-8">
                      <select id="condition" name="condition" aria-describedby="conditionHelpBlock" required="required" class="custom-select">
                        <option value="new">New</option>
                        <option value="like new">Used - Like New</option>
                        <option value="acceptable ">Used - Acceptable</option>
                        <option value="poor">Poor</option>
                      </select>
                      <span id="conditionHelpBlock" class="form-text text-muted">Select One</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="size" class="col-4 col-form-label">Size</label>
                    <div class="col-8">
                      <input id="size" name="size" type="text" required="required" class="form-control here">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="description" class="col-4 col-form-label">Description</label>
                    <div class="col-8">
                      <textarea id="description" name="description" cols="40" rows="5" class="form-control"></textarea>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label for="description" class="col-4 col-form-label">Images</label>
                    <div class="col-8">
                   <input type="file" class="custom-file-input" id="itempicture" name="itempicture">
                    <label class="custom-file-label" for="customFile">Select Images</label>
                  </div>
                  <div class="form-group row">
                    <div class="offset-8 col-4">
                      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </form>

          </div>

         </div>
        </div>


{% endblock %}
