<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block title %} Auction Site {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
</head>

<style>
html,
body {
  height: 100%;
}
#content {
  min-height: 100%;
  position: relative;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}
</style>

<body data-spy="scroll" data-target=".navbar" data-offset="50"  >

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" href="/">Auction</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link =" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link =" href="/account">Account</a>
        </li>
      </ul>
    </div>
  </nav>
<div id="content">
{% block content %}


{% endblock %}
</div>
</body>


  <hr>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6" id="about">
              <h4>How the site works?</h4>
              <p>A wesbite that allows users to buy and sell clothes. To list an item of clothing please create an account.</p>


            </div>

           <div class="col-sm-6">

           </div>
        </div>
      </div>

      </br>
      </br>

       <div class="container text-center">
         <span class="text-muted"> <a href="/contact">Contact </a> | <a href="/privacy">Privacy </a></span></br>
         <span class="text-muted">Copyright &copy; Auction Website 2018</span>
       </div>
    </footer>

</html>
