{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br>
  <div class="card">
    <div class="card-header">
    Update Listing : {{listingID}}
   </div>
     <div class="card-body">

      <form  action="" method="post" name="form">

            <div class="form-group row">
              <label for="title" class="col-4 col-form-label">Title</label>
              <div class="col-8">
                <input id="title" name="title" value="{{title}}" type="text" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="price" class="col-4 col-form-label">Price(£)</label>
              <div class="col-8">
                <input id="price" name="price" value="{{price}}" type="text" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="size" class="col-4 col-form-label">Size</label>
              <div class="col-8">
                <input id="size" name="size" value="{{size}}" type="text" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-4 col-form-label">Description</label>
              <div class="col-8">
                <textarea id="description" placeholder="{{description}}" name="description" cols="40" rows="5" class="form-control"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>


{% endblock %}
