{% extends 'base.html' %}

  {% block title %} {{ title }} {% endblock %}


{% block content %}


    <div class="container">
      <h2 class="text-muted">Seller :<a  href="{{ url_for('userpage',  userID = seller ) }}"> {{seller}} </a></h2>
          <div class="card" style="width:50%">
            <img class="card-img-top" src="{{ url_for('static', filename='images/' + id + '.png' ) }}" alt="{{title}}" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Title: <a  href="{{ url_for('search', title= title ) }}"> {{title}}</a></h4>
              <p><br>
                Price: £ {{price}}<br>
                Condition: {{condition}}<br>
                Size: {{size}}<br>
                Description: {{description}}<br>
              <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
{% endblock %}
