{% extends 'base.html' %}


{% block content %}
    {% if found %}
    <div class="container mt-3">
        <div class="row">
            <div class="card-deck">
             {% for item in found %}

                 <a href="{{ url_for('listing', item=item) }}" >
                   <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                     <img class="card-img-top" src="{{ url_for('static', filename='images/' + item + '.png' ) }}" alt="{{item}}">
                     <div class="card-body">
                     <h5 class="card-title">{{Item}}</h5>
                   </div>
                    <div class="card-footer">
                      <small class="text-muted">Reduced Price</small>
                    </div>
                  </div>
                </a>

                {% endfor %}
            </div>
          </div>
       </div>

   {% else %}
     <h1 class="text-muted mx-auto">Nothing found!</h1>
   {% endif %}

{% endblock %}
