{% extends 'base.html' %}


{% block content %}

<div class="container">
  <br>
  <div class="card">
    <div class="card-header">
    Enter your details
   </div>
     <div class="card-body">

      <form  action="" method="post" name="form">

            <div class="form-group row">
              <label for="username" class="col-4 col-form-label">Username</label>
              <div class="col-8">
                <input id="username" name="username" type="text" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-4 col-form-label">Email</label>
              <div class="col-8">
                <input id="email" name="email" type="text" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="email2" class="col-4 col-form-label">Re-enter Email</label>
              <div class="col-8">
                <input id="email2" name="email2" type="text" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-4 col-form-label">Password</label>
              <div class="col-8">
                <input id="password" name="password" type="password" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="password2" class="col-4 col-form-label">Re-enter Password</label>
              <div class="col-8">
                <input id="password2" name="password2" type="password" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <label for="forename" class="col-4 col-form-label">Forename</label>
              <div class="col-8">
                <input id="forename" name="forename" type="text" class="form-control here">
              </div>
            </div>
            <div class="form-group row">
              <label for="surname" class="col-4 col-form-label">Surname</label>
              <div class="col-8">
                <input id="surname" name="surname" type="text" class="form-control here" required="required">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">Sign Up</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>



{% endblock %}
