{% extends 'base.html' %}


{% block content %}
    {% if images %}
    <div class="container mt-3">
        <div class="row">
            <div class="card-deck">
             {% for image in images %}
              {% set link = image.split('.') %}
                 <a href="{{ url_for('listing', item=link[0]) }}" >
                   <div class="card mb-4" style="min-width: 18rem; max-width: 18rem;">
                     <img class="card-img-top" src="{{ url_for('static', filename='images/' + image) }}" alt="{{item}}">
                    

                  </div>
                </a>
                {% endfor %}
            </div>
          </div>
       </div>

   {% else %}
     <h1 class="text-muted mx-auto">There is nothing for sale</h1>
   {% endif %}

{% endblock %}
