{% extends 'base.html' %}
  {% block title %}
    Login
{% endblock %}
% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <br>
  <div class="alert alert-danger alert-dismissible">
    {% for message in messages %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Incorrect Details:</strong> {{ message }}
    {% endfor %}
    </div>

  {% endif %}
{% endwith %}

{% block content %}


<div class="container">
  <br>
  <div class="card">
    <div class="card-header">
   Log in
   </div>
     <div class="card-body">

      <form  action="" method="post" name="form">

            <div class="form-group row">
              <label for="title" class="col-4 col-form-label">Email:</label>
              <div class="col-8">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
            </div>
            <div class="form-group row">
              <label for="price" class="col-4 col-form-label">Password:</label>
              <div class="col-8">
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" >Sign In</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
